* {
   box-sizing: border-box;
}

body {
   padding: 50px;
   font-size: 1.5em;
   background: linear-gradient(90deg, #eae3d9 0%, #ede3d9 16.667%, #e9dcd1 33.333%, #dfcfc4 50%, #d0bfb4 66.667%, #c0aea3 83.333%, #b1a095 100%);
}

#app {
   display: flex;
   justify-self: center;
   width: 80%;
}

button {
   cursor: pointer;
   font-family: monospace;
   font-weight: 900;
   font-size: 1.3em;
   padding: 10px;
   color: #ede9e4;
   background: linear-gradient(90deg, #bdada2, #685548);
   height: 50px;
   width: 100%;
   border: none;
   box-shadow: -30px 0px 50px 0px rgba(128, 128, 128, 0.44);
}

input {
   padding: 40px;
   padding-left: 20px;
   background-color: #efeae44a;
   border: 3px solid rgba(255, 255, 255, 0.233);
   box-shadow: -30px 0px 50px 0px rgba(128, 128, 128, 0.44);
   height: 100px;
   font-family: monospace;
   font-weight: 900;
   font-size: 1.3em;
}


.set-mode {
   background-color: #efeae44a;
   padding: 20px;
   border: 3px solid rgba(255, 255, 255, 0.233);
   box-shadow: -30px 0px 50px 0px rgba(128, 128, 128, 0.44);
}

#encrypt,
#decrypt {
   font-family: monospace;
   font-weight: 900;
   font-size: 1.3em;
   padding: 10px;
   padding-left: 30px;
   padding-right: 30px;
   -webkit-transition: 0.6s;
   transition: 0.6s;
}

.message {
   text-align: center;
   font-family: monospace;
   font-weight: 900;
   font-size: 1.5em;
   padding-top: 20px;
}

.content {
   width:80vw;
}